body {
  margin: 0;
  padding: 0;
  background-color: lightblue;
  color: rgb(190, 19, 212);
  text-align: center;
}

.lessThan {
  color: tomato;
}

.greaterThan {
  color: limegreen;
}

button {
  margin: 0px 0.5rem;
}
